{% extends "Header.html" %}
{% block title %}Створити{% endblock %}
{% block content %}
<div class="FormBox">
 <form method="post" id="data" action="{% url 'type_index' type_name=short_name index=index %}">
     <div class="row justify-content-center">
         <div class="col-md-4 text-center">
     {% csrf_token %}
     {% for parameter in parameters %}
     <div class="form-group text-left">
         <label for="{{ parameter.type }}">{{ parameter.name }}</label>
         <input type="{{ parameter.html_type }}" class="form-control" id="{{ parameter.type }}" name="{{ parameter.name }}">
     </div>
     {% endfor %}
     <button type="submit" class="btn btn-primary">Створити</button>
         </div>
     </div>
 </form>
 </div>
{% endblock %}