{% extends "Header.html" %}
{% load poll_extras %}
{% block title %}{{ short_name }} {{ index }}{% endblock %}
{% block content %}
<div class="FormBox">
 <form id="data" action="javascript:update('{% url 'api:type_index' type_name=short_name index=index %}')">
     {% csrf_token %}
     <div class="row justify-content-center">
         <div class="col-md-4 text-center">
             {% for value in values %}
             <div class="form-group text-left">
             <label for="{{ value.0.type }}">{{ value.0.name }}</label>
             {% if value.0.html_type == 'select' %}
                 <select class="form-control" onChange="createTable()" required="required" id="{{ value.0.type }}" name="{{ value.0.type }}">
                 {% for item in value.1|items %}
                 {% endfor %}
                 </select>
             {% endif %}
             {% if value.0.type in 'person' %}
             <select class="form-control" onChange="createTable()" required="required" id="{{ value.0.type }}" name="{{ value.0.type }}">
                 <option selected value="{{ value.1 }}">{{ value.1 }}</option>
                 <option value="рег." >Регіонали</option>
                 {% for agent in agents %}
                 <option value="{{ agent.name }}">{{ agent.fullname }}</option>
                 {% endfor %}
             </select>
             {% elif value.0.type in 'point' %}
             <input class="form-control" type="{{ value.0.html_type }}" id="{{ value.0.type }}" name="{{ value.0.type }}" list="point_l" value="{{ value.1 }}">
             <datalist id="point_l">
                 <option selected value="{{ value.1 }}">{{ value.1 }}</option>
             </datalist>
             {% else %}
             <input class="form-control" type="{{ value.0.html_type }}" id="{{ value.0.type }}" name="{{ value.0.type }}" value="{{ value.1 }}">
             {% endif %}
             </div>
             {% endfor %}
             <button type="submit" class="btn btn-primary">Зберегти</button>
         </div>
     </div>
 </form>
 </div>
    <script>
        function createTable() {
    let e = document.getElementById("person");
    document.getElementById("point").value = "";
    let city = e.options[e.selectedIndex].value;
    let points = '{{points}}'.split('), (')
    let theader = '<option selected value="" >...</option>';
    let tbody = '<option selected value="Cклад">Склад</option><option selected value="Cписано">Списано</option>';
    for (let i = 0; i < points.length; i++) {
        // if(points[i].includes('(')){
        //     let id = points[i].replaceAll("',", '').replaceAll('(', '').replaceAll(')', '').replaceAll("'", '')
        // }
        if (points[i].toLowerCase().includes(city.toLowerCase())) {
            let point = points[i].replaceAll("&#x27;,", "").replaceAll('(', '').replaceAll(')', '').replaceAll("&#x27;", "").replaceAll("&quot;", "").replaceAll("[", "").replaceAll("]", "")
            tbody += '<option value="' + point + '">'
            // tbody += point
            tbody += '</option>'
        }
        document.getElementById('point_l').innerHTML = theader + tbody;
    }
}
        function resizeInput() {
    $(this).attr('size', $(this).val().length);
}
$('input[type="text"]')
    // event handler
    .keyup(resizeInput)
    // resize on page load
    .each(resizeInput);
    </script>
{% endblock %}