{% extends "Header.html" %}
{% block title %}Індекс{% endblock %}
{% block content %}
    {% if request.user.is_superuser %}
        <a>Hello {{ request.user.username }}</a>
        <div class="FormBox">
        <form action="{% url 'change_password' %}" method="post">
            {% csrf_token %}
            <div class="item">
                <p>Новий пароль:</p>
                <input type=password id=new_password name=new_password>
            </div>
            <div class="item">
                <p>Підтвердженя паролю:</p>
                <input type=password id=confirm_password name=confirm_password>
            </div>
            <div class="btn-block">
                <button type="submit">Змінити пароль</button>
            </div>
        </form>
        </div>
        <br>
        <div class="FormBox">
        <form action="{% url 'qr_range' %}" method="post">
            {% csrf_token %}
            <div class="item">
                <p>inv_type</p>
                <input type="text" id="inv_type" name="inv_type">
            </div>
            <div class="item">
                <p>index_from</p>
                <input type="text" id="index_from" name="index_from" value="1">
            </div>
            <div class="item">
                <p>index_to</p>
                <input type="text" id="index_to" name="index_to" value="1">
            </div>
            <div class="btn-block">
                <button type="submit">generate range</button>
            </div>
        </form>
        </div>
    {% endif %}
{% endblock %}