{% extends "Header.html" %}
{% block title %}Індекс{% endblock %}
{% block content %}
    {% if request.user.is_superuser %}
        <a>Hello {{ request.user.username }}</a>
        <div class="FormBox">
        <form id="change_password" action="{% url 'change_password' %}" method="post">
            {% csrf_token %}
            <div class="row justify-content-center">
                <div class="col-md-2 text-center">
                    <div class="form-group text-left">
                    {{ change_password }}
                    </div>
                    <button type="submit" class="btn btn-primary">Змінити пароль</button>
                </div>
            </div>
        </form>
        </div>
        <br>
        <div class="FormBox">
        <form action="{% url 'qr_range' %}" method="post">
            {% csrf_token %}
            <div class="item">
                <p>inv_type</p>
                <select type="text" id="inv_type" name="inv_type">
                    {% for inventory_type in inventory_types %}
                        <option value="{{ inventory_type.short_name }}" >{{ inventory_type.full_name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="item">
                <p>index_from</p>
                <input type="number" id="index_from" name="index_from" value="1">
            </div>
            <div class="item">
                <p>index_to</p>
                <input type="number" id="index_to" name="index_to" value="1">
            </div>
            <div class="btn-block">
                <button type="submit">generate range</button>
            </div>
        </form>
        </div>
    {% endif %}
{% endblock %}
{% block script %}
    <script>
            $("#change_password").submit(function(e) {
                e.preventDefault();
                var form = $(this);
                var actionUrl = form.attr('action');
                $.ajax({
                    type: "POST",
                    url: actionUrl,
                    data: form.serialize(),
                    success: function(data)
                    {
                        // Object.values(data['status']).forEach((message, i) => )
                        $.notify(data['status'], 'success')
                        console.log(data)
                    },
                    error: function (data) {
                        console.log(data)
                        Object.values(data['responseJSON']['errors']).forEach((message, i) => $.notify(message[0], 'error'))
                    },
                });
            });
        </script>
{% endblock %}