{% extends "Header.html" %}
{% load static %}
{% block link %}
<link rel="stylesheet" href="{% static 'css/dataTables.bootstrap4.css' %}">
{% endblock %}
{% block title %}Типи{% endblock %}
{% block content %}
<div class="col-md-auto">
    <div class="card shadow">
        <div class="card-body">
            <!-- table -->
            <table class="table datatables" id="dataTable-1">
                {% if deep %}
                <thead>
                <tr><th>Id</th>{% for parameter in parameters %}<th>{{ parameter }}</th>{% endfor %}<th>Дії</th></tr>
                </thead>
                <tbody>
                {% for type in values %}
                <tr>
                    <td>{{ type.0 }}</td>
                    {% for item in type.1 %}
                    {% if forloop.first %}
                    <td><a href="{% url 'type_index' type_name type.0%}">{{ item }}</a></td>
                    {% else %}
                    <td><a>{{ item }}</a></td>
                    {% endif %}
                    {% endfor %}
                    <td>
                        <button class="btn btn-sm dropdown-toggle more-horizontal" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="text-muted sr-only">Action</span>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#varyModal"
                               data-whatever="{{ type.0 }}">Переглянути</a>
                            <a class="dropdown-item" href="{% url 'type_index' type_name type.0%}">Редагувати</a>
                            <a class="dropdown-item" href="{% url 'type_index_delete' type_name type.0 %}">Видалити</a>
                        </div>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
                {% else %}
                <thead>
                <tr>
                    <th>#</th>
                    <th>Тип</th>
                    <th>Кількість</th>
                    <th>Дії</th>
                </tr>
                </thead>
                <tbody>
                {% for type in values %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td><a href="{{ type.0 }}">{{ type.1 }}</a></td>
                    <td>{{ type.2 }}</td>
                    <td>
                        <button class="btn btn-sm dropdown-toggle more-horizontal" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="text-muted sr-only">Action</span>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="{{ type.0 }}">Переглянути</a>
                            <a class="dropdown-item" href="#">Редагувати</a>
                            <a class="dropdown-item" href="#">Видалити</a>
                        </div>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
                {% endif %}
            </table>
        </div>
        </div>
    </div> <!-- simple table -->
<div class="modal fade" id="varyModal" tabindex="-1" role="dialog" aria-labelledby="varyModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="varyModalLabel">test</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="data">
                    {% csrf_token %}
                    <div class="row justify-content-center">
                        <div class="col-md-12 text-center">
                            <div id="modal_body" class="form-group text-left">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрити</button>
                <button type="submit" form="data" class="btn btn-primary">Зберегти</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
    <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/dataTables.bootstrap4.min.js' %}"></script>
    <script>
        {% if deep %}
        $('#varyModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget)
            var index = button.data('whatever')
            var url = "{% url 'api:type_index' type_name=type_name index=1 %}".replace(/1/, index.toString());
            console.log(url)
            var modal_body = ''
            $.get(url, function(data, status){
                data.data.forEach(function (arrayItem) {
                    var value = JSON.parse(arrayItem)
                    console.log(value);
                    modal_body += `<label for="${value.parameter.type}">${value.parameter.name}</label>`
                    if(value.parameter.html_type === 'date'){value.value = value.value.split(' ')[0]}
                    if(value.parameter.type === 'person'){
                        modal_body += `<select class="form-control" onChange="createTable()" required="required"
                            id="${value.parameter.type}" name="${value.parameter.type}">
                            <option selected value="${ value.value }">${ value.value }</option>
                            <option value="рег." >Регіонали</option>
                            {% for agent in agents %}
                            <option value="{{ agent.name }}">{{ agent.fullname }}</option>
                            {% endfor %}
                            </select>`
                    } else if(value.parameter.type === 'point'){
                        modal_body += `<input class="form-control" type="${ value.parameter.html_type }" id="${ value.parameter.type }"
                            name="${ value.parameter.type }" list="point_l" value="${ value.value }">
                            <datalist id="point_l"><option selected value="${ value.value }">${ value.value }</option></datalist>`
                    } else{
                        modal_body += `<input class="form-control" type="${ value.parameter.html_type }" id="${ value.parameter.type }" name="${ value.parameter.type }" value="${ value.value }">`
                    }
                });
                document.getElementById('modal_body').innerHTML = modal_body
                document.getElementById('data').action = `javascript:update("${url}")`
            });
        })
        {% endif %}
        $('#dataTable-1').DataTable(
            {
                autoWidth: true,
                paging: false,
            });
    </script>
{% endblock %}